.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #f3e2c6;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about img {
    width: 40%;
    border-radius: 10px;
}
