.hero {
    position: relative;
    text-align: right;
    color: #333;
    padding: 0px 20px;
    background-image: linear-gradient(to right, #ffffff, #795e306b);
    
}

.hero-img {
    width: 50%;
    max-height: 100%;
    
    margin-right: 50%;
    transform: translate(0%, 0%);
    
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 62%;
    transform: translate(-10%, -20%);
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 30px;
}

.btn {
    background-color: #c3a763;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}
